*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic";
}

body{
    color: rgb(249, 246, 246);
    background-color: black;
}

.left{
    width: 25vw;
    padding: 10px;
}

.left .close{
    position: absolute;
    right: 31px;
    top: 25px;
    width: 33px;
}

.right{
    width: 75vw;
    margin: 16px 0;
    position: relative;
}

.home ul li{
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.library{
    min-height: 71vh;
    position: relative;
}

.heading{
    display: flex;
    gap: 15px;
    width: 100%;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 12px;
}

.heading img{
    width: 25px;
}

.footer{
    display: flex;
    font-size: 9px;
    gap: 13px;
    position: absolute;
    bottom: 20px;
    padding: 10px 0px;
}

.footer a{
    color: grey;
    /* text-transform: none; */
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(39, 38, 38);
}

.header > *{
    padding: 20px;
}

.spotifyPlaylists{
    padding: 14px;
}

.cardContainer{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin: 1px 20px;
    overflow-y: auto;
    max-height: 70vh;
}

.card{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

.card > *{
    padding-top: 10px;
}

.card img{
    width: 100%;
    height: 28vh;
    object-fit: contain;
}
.play{
    width: 35px;
    height: 35px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 220px;
    right: 17px;
    transition: all 0.1s ease-out;
}
.card:hover{
    background-color: #252525;
    .play{
        display: flex;
        top: 166px;
    }
}
.buttons > *{
    margin: 0 12px;
}
.signup-btn{
    background-color: rgb(39, 38, 38);
    color: rgba(255, 255, 255, 0.593);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}
.signup-btn:hover{
    font-size: 17px;
    color: white;
}
.login-btn{
    background-color: white;
    border-radius: 21px;
    color: black;
    padding: 10px;
    cursor: pointer;
    width: 79px;
    border: none;
    outline: none;
    font-size: 16px;
}
.login-btn:hover{
    font-weight: bold;
    padding: 10px 14px;
    font-size: 17px;
}
.playbar{
    position: fixed;
    bottom: 30px;
    background-color: rgb(255 252 252);
    filter: invert(1);
    border-radius: 15px;
    width: 73vw;
    padding: 12px;
    min-height: 45px;
}
.songButtons{
    display: flex;
    justify-content: center;
    gap: 12px;
    margin: -4px;
}

.songList{
    margin-bottom: 44px;
    height: 412px;
    overflow: auto;
}

.songList ul{
    padding: 0 12px;
}

.songList ul li{
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
}

.playNow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info{
    font-size: 13px;
}

.playNow span{
    font-size: 13px;
    width: 64px;
    padding: 4px;
}

.seekBar{
    position: absolute;
    bottom: 0;
    height: 4px;
    width: 97%;
    background: black;
    border-radius: 10px;
    margin-bottom: 7px;
    cursor: pointer;
}

.circle{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: black;
    position: relative;
    bottom: 5px;
    left: 0%;
    transition: left 0.5s;
}

.songButtons img{
    cursor: pointer;
}

.song-info, .song-time{
    color: black; 
    padding: 0 12px;
    width: 250px;

}

.aboveBar{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.hamburger{
    display: none;
}

@media (max-width: 1400px) {
    .left{
        position: absolute;
        left: -120%;
        transition: all 0.3s;
        z-index: 1;
        width: 370px;
        background-color: black;
    }
    .right{
        width: 100vw;
    }
    .songList{
        height: 300px;
    }

    .playbar{
        width: 98vw;
    }

    .seekBar{
        width: 92vw;
    }

    .hamburger{
        width: 40px;
        display: block;
    }

    .hide-for-hamburger{
        display: none;
    }
    .rigth{
        margin: 0;
    }

}

@media (max-width: 453px) {
    .song-info, .song-time{
        font-size: 13px;
    }
    .aboveBar{
        gap: 29px;
    }
}

@media (max-width: 484px) {
    .card{
        width: 90vw;
    }
    .card img{
        width: 100%;
    }
    .cardContainer{
        margin: 0;
        justify-content: center;
    }
}